.App {
  text-align: center;
}

p {
  font-size: calc(16px + 1vmin);
  margin: 0px;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 1vmin);
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.input-left, .ui {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-right {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.input-field form i {
  vertical-align: middle;
  padding-left: 5px;
}

.input-field .duration {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.duration .startDate {
  width: calc(70px + 1vmax);
}

.duration .endDate {
  width: calc(70px + 1vmax);
}

.save-success {
  color: #51bd3b;
}

.save-fail {
  color: #c53030;
}

input {
  flex: 100%;
  font-size: calc(10px + 1vmin);
}

.list {
  margin: 1% auto;
  padding: 14px;
  width: 60%;
  max-width: 1500px;
  border-radius: 10px;
  background-color: #ffffff;
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex: 100%;
  padding: 0;
}

.todo-list .finish {
  background-color: #99e28b;
  border-radius: 6px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.todo-list .center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  word-break: break-word;
  flex: 1%;
}

.last > :last-child{
  margin-left: 10px;
}

@media (max-width: 425px) {
  .duration .startDate {
    width: 60px;
  }
  
  .duration .endDate {
    width: 60px;
  }
}